@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

* {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
}

button,
input,
select,
select > option {
    outline: none;
    border: none;
    margin: 0;

    box-sizing: border-box;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 8px;
    color: rgb(200, 200, 200);
    background-color: rgba(40, 40, 40, 0.125);
    backdrop-filter: blur(2px);

    padding-top: 8px;
    padding-bottom: 8px;
}

button,
select,
select > option {
    cursor: pointer;
}

button:hover,
select:hover {
    background-color: rgb(60, 60, 60);
}

select {
    background-color: rgb(60, 60, 60);
}

button[color][value="true"] {
    border-color: rgb(80, 160, 80);
    background-color: rgb(60, 120, 60);
}

button[color][value="false"] {
    border-color: rgb(160, 80, 80);
    background-color: rgb(120, 60, 60);
}

sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25vw;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: rgb(50, 50, 50);
    box-sizing: border-box;
    border-right: 2px solid rgb(60, 60, 60);
}

sidebar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    box-sizing: border-box;
    border-bottom: 2px solid rgb(80, 80, 80);
    padding-bottom: 8px;
    width: 100%;
}

sidebar > *:first-child {
    margin-top: 8px;
}

sidebar > div > * {
    width: 90%;
}

.Playground {
    position: absolute;
    left: 25vw;
    top: 0;
    width: calc(100% - 20em);
    height: 100%;
}

.Playground > div:not(.Line) {
    position: absolute !important;
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.Playground > div.Line {
    position: absolute;
    z-index: -1;
    transform-origin: 0 0;
}

.Playground > div.Line > span:first-child {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0;
}